@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }
  
  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
  }
  
  a {
    background-color: transparent
  }
  .w-icon-dropdown-toggle:before {
    content: "\e603"
  }
  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
  } 
  
  .w-inline-block {
    max-width: 100%;
    display: inline-block
  }
  
  .w-clearfix:before, .w-clearfix:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
  }
  .w-container:after {
    clear: both
  }
  
  .w-container .w-row {
    margin-left: -10px;
    margin-right: -10px
  }
  
  .w-row:before, .w-row:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
  }
  
  .w-row:after {
    clear: both
  }
  
  .w-row .w-row {
    margin-left: 0;
    margin-right: 0
  }
  
  .w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px
  }
  
  .w-col .w-col {
    padding-left: 0;
    padding-right: 0
  }
  
  .w-col-1 {
    width: 8.33333333%
  }
  
  .w-col-2 {
    width: 16.66666667%
  }
  
  .w-col-3 {
    width: 25%
  }
  
  .w-col-4 {
    width: 33.33333333%
  }
  
  .w-col-5 {
    width: 41.66666667%
  }
  
  .w-col-6 {
    width: 50%
  }
  
  .w-col-7 {
    width: 58.33333333%
  }
  
  .w-col-8 {
    width: 66.66666667%
  }
  
  .w-col-9 {
    width: 75%
  }
  
  .w-col-10 {
    width: 83.33333333%
  }
  
  .w-col-11 {
    width: 91.66666667%
  }
  
  .w-col-12 {
    width: 100%
  }
  
  .w-hidden-main {
    display: none !important
  }
 
  
  .w-dropdown {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    z-index: 900
  }
  
  .w-dropdown-toggle, .w-dropdown-link {
    position: relative;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap
  }
  
  .w-dropdown-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    padding-right: 40px
  }
  
  .w-icon-dropdown-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 20px;
    width: 1em;
    height: 1em
  }
  
  .w-dropdown-list {
    position: absolute;
    background: #dddddd;
    display: none;
    min-width: 100%
  }
  
  .w-dropdown-list.w--open {
    display: block
  }
  
  .w-dropdown-link {
    padding: 10px 20px;
    display: block;
    color: #222222
  }
  
  .w-dropdown-link.w--current {
    color: #0082f3
  }
  
  .w-nav {
    position: relative;
    background: #dddddd;
    z-index: 1000
  }
  
  .w-nav:before, .w-nav:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
 }
  
  .w-nav:after {
    clear: both
  }
  
  .w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333
  }
  
  .w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto
  }
  
  .w-nav-link.w--current {
    color: #0082f3
  }
  
  .w-nav-menu {
    position: relative;
    float: right
  }
  
  .w-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
  
  .w-nav-button.w--open {
    background-color: #ccc6c6;
    color: rgb(255, 255, 255)
  }
  
  .w--nav-dropdown-open {
    display: block
  }
  
  .w--nav-dropdown-toggle-open {
    display: block
    
  }
  
  .w--nav-dropdown-list-open {
    position: static
  }
  

  body {
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    font-family: 'Dosis', sans-serif;
    color: #121213;
    font-size: 14px;
    line-height: 20px;
  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 38px;
    line-height: 44px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: uppercase;
  }
  
  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  p {
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #ff6600;
    font-size: 17px;
    line-height: 25px;
  }
  
  blockquote {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    min-height: 150px;
    margin-bottom: 10px;
    padding: 10px 37px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 1px none #ff0000;
    background-image: linear-gradient(284deg, #290100, #e41212);
    color: #fff;
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
  }
  
  figure {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .banner {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 85vh;
    padding-right: 5%;
    padding-left: 5%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #c1c3cc;
    background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(193, 195, 204, 0.28) 65%), url("../image/slide-2.jpg");
    background-position: 0px 0px, 50% 0%;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
  }
  
  .section {
    padding: 10% 5%;
  }
  
  .section.gray {
    background-color: #f7f8fc;
  }
  
  .section.gray.small {
    padding: 8% 0% 20px 20px;
  }
  
  .section.add-5-percent {
    padding-top: 15%;
    padding-bottom: 5%;
  }
  
  .section.color {
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #e47312;
    background-image: linear-gradient(72deg, #9b9b9b, rgba(112, 2, 0, 0.78)), url("../image/banner-2.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
  }
  
  .section.logo {
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: linear-gradient(56deg, #e41212, #160000);
  }
  
  .section.for-project {
    margin-right: -20px;
    padding: 0px 0px 20px;
    background-color: #fff;
  }
  
  .section._0-top {
    padding-top: 0%;
  }
  
  .section.for-changelog {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  .container {
    max-width: 1200px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .container._2-down {
    margin-top: 100px;
  }
  
  .navigation {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0%;
    padding-left: 0%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
  }
  
  .brand {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 110px;
    padding-right: 35px;
    padding-left: 35px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    background-color: #360000;
  }
  
  .brand.normal {
    position: relative;
  }
  
  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  
  .nav-link {
    position: relative;
    display: inline-block;
    padding: 31px 14px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #414147;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
  }
  
  .nav-link.w--current {
    color: #000000;
  }
  
  .nav-link:hover {
    color: #e44312;
  }
  
  .nav-link.drop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .nav-link::before {
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    width: 1px;
    height: 0%;
    margin-right: auto;
    margin-left: auto;
    background-color: #e47312;
    transition: .2s;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 1px;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #e47312;
    transition: .2s;
  }
  
  .nav-link:hover::before, .nav-link:hover::after {
    height: 30px;
  }
  
  .navtext {
    position: relative;
    z-index: 1;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #fff;
  }
  
  .icon {
    display: none;
  }
  
  .arrow-image {
    position: relative;
    z-index: 1;
    width: 6px;
    margin-left: 7px;
  }
  
  .dropdown-list {
    background-color: #fff;
  }
  
  .dropdown-list.w--open {
    min-width: 150px;
    padding: 9px 13px;
  }
  
  .dropdown-link {
    color: #717177;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .dropdown-link:hover {
    background-color: #f1f1f7;
    color: #e47312;
  }
  
  #dropdown-item:hover .w-dropdown-list {
    display: block;
    min-width: 150px;
    padding: 9px 13px;
  }
  
  .info-wrapper {
    height: 100%;
    margin-left: 20px;
    padding: 34px 28px 31px;
    background-color: #e47312;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .info-wrapper:hover {
    background-color: #e98a38;
  }
  
  .info-wrapper.for-x {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    height: 75px;
    padding-top: 30px;
  }
  
  .line-2 {
    position: relative;
    top: 6px;
    width: 20px;
    height: 2px;
    background-color: #fff;
  }
  
  .line-2.x1 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .line-2.x2 {
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .info-big-wrapper {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 9999;
    display: none;
  }
  
  .info-big-overlay {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .info-left-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    z-index: 10000;
    padding: 95px 50px 35px 70px;
    background-color: #fff;
    transform: translateX(100%);
    transition: all .2s ease-out;
  }
  
  .top-margin {
    margin-top: 50px;
  }
  
  .top-margin.half {
    margin-top: 25px;
  }
  
  .top-margin.half.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  
  .top-title-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 7%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .top-title-wrapper.center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .top-title-wrapper.center.vertical {
    margin-bottom: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .top-title-wrapper.more {
    margin-bottom: 15%;
  }
  
  .features-wrapper {
    position: absolute;
    left: auto;
    top: auto;
    right: -2.5%;
    bottom: -83px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    padding: 15px 100px 5px 50px;
    background-color: #e47312;
    background-image: linear-gradient(186deg, #e41212, #290100);
  }
  
  .infos-flex {
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .info-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .info-child.horizontal {
    margin-bottom: 15px;
    padding-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .info-image {
    width: 24px;
    margin-bottom: 15px;
  }
  
  .info-image.left {
    width: 20px;
    margin-right: 15px;
    margin-bottom: 0px;
  }
  
  .phone-text {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .paragraph-white {
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
  }
  
  .paragraph-white.bigger {
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
  }
  
  .paragraph-white.bigger.normal {
    font-weight: 400;
  }
  
  .paragraph-white._100 {
    color: #8e9292;
  }
  
  .top-title {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .top-title.absolute {
    position: absolute;
    left: -53px;
    top: -26px;
    z-index: 1;
    color: rgba(189, 101, 0, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
  }
  
  .top-title.absolute._75-percent {
    color: rgba(241, 241, 247, 0.75);
  }
  
  .top-title.absolute.in-form {
    left: -17px;
    font-size: 100px;
  }
  
  .top-title.absolute.also-center {
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
  
  .top-title.white {
    color: #fff;
  }
  
  .top-title.white.big {
    color: #e41212;
    font-size: 50px;
    line-height: 60px;
  }
  
  .top-title.smaller-white {
    margin-right: 60px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
  }
  
  .top-title.smaller-white.in-footer {
    margin-bottom: 30px;
    padding-right: 14px;
    background-color: #ee0000;
  }
  
  .top-title.smaller-white.blog {
    margin-right: 0px;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 26px;
  }
  
  .top-title.smaller-white.no-width {
    display: none;
    margin-right: 0px;
  }
  
  .top-title._30px {
    font-size: 30px;
    line-height: 40px;
  }
  
  .top-title.small-version {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }
  
  .top-title.on-banner {
    color: #a09d00;
    font-size: 62px;
    line-height: 70px;
  }
  
  .features-icon {
    margin-bottom: 20px;
  }
  
  .service-title {
    margin-top: 0px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .service-title.team {
    line-height: 20px;
  }
  
  .service-content {
    margin-bottom: 5%;
    padding-right: 5%;
  }
  
  .margin-page {
    margin-top: 15%;
  }
  
  .margin-page._10-percent {
    margin-top: 10%;
  }
  
  .text-block {
    line-height: 16px;
  }
  
  .navlink.for-button.blue.w-inline-block {
    position: relative;
  }
  
  .navlink.for-button.blue.w-inline-block::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: hsla(281, 100%, 38%, 0.3);
    transition: .2s;
  }
  
  .navlink.for-button.blue.w-inline-block:hover::after {
    background-color: #e47312;
  }
  
  .navlink {
    overflow: hidden;
    margin-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #161616;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .navlink.for-button {
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    color: #fff;
  }
  
  .navlink.for-button.blue {
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .navlink.for-button.blue._0 {
    margin-top: 0px;
  }
  
  .navlink.for-button.blue.white {
    color: #fff;
  }
  
  .navlink.for-button.blue.white.for-footer {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 13px;
  }
  
  .navlink.for-button.blue.white.for-footer.in-sidebar {
    margin-bottom: 0px;
    margin-left: 18px;
    color: #414147;
  }
  
  .navlink.for-button {
    position: relative;
  }
  
  .navlink.for-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    z-index: 100;
    background-color: hsla(0, 0%, 100%, 0.3);
    transition: .2s;
  }
  
  .navlink.for-button:hover::after {
    background-color: white;
  }
  
  .navlink.for-button.blue.white.for-footer.w-inline-block {
    position: relative;
  }
  
  .navlink.for-button.blue.white.for-footer.w-inline-block::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: transparent;
    transition: .2s;
  }
  
  .navlink.for-button.blue.white.for-footer.w-inline-block:hover::after {
    background-color: white;
  }
  
  .navlink.for-button.blue.white.w-inline-block:hover::after {
    background-color: white;
  }
  
  .navlink.for-button.blue.white.w-inline-block {
    position: relative;
  }
  
  .navlink.for-button.blue.white.w-inline-block::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: transparent;
    transition: .2s;
  }
  
  .navlink.for-button.blue.white.w-inline-block:hover::after {
    background-color: white;
  }
  
  .navlink.for-button.blue.white.not-link {
    display: inline-block;
  }
  
  .padding-right {
    padding-left: 100px;
  }
  
  .padding-right.left {
    padding-right: 100px;
    padding-left: 0px;
  }
  
  .row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .fun-facts {
    padding-right: 40%;
  }
  
  .fun-text {
    margin-bottom: 10px;
    color: #e47312;
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
  }
  
  .social-vertical {
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 143px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #0040ff;
  }
  
  .social-vertical.horizontal {
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #a01300;
  }
  
  .social-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 50px;
    float: left;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
  }
  
  .social-icon.no-bottom {
    border-bottom-style: none;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .team-wrapper {
    position: relative;
    width: 95%;
  }
  
  .team-photo {
    min-height: 300px;
    background-image: url("../image/team-1.jpg");
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .team-photo._2 {
    background-image: url("../image/team-2.jpg");
  }
  
  .team-photo._3 {
    background-image: url("../image/team-3.jpg");
  }
  
  .team-photo._4 {
    background-image: url("../image/team-4.jpg");
  }
  
  .team-content {
    padding: 29px 66px 29px 29px;
    background-color: #fff;
  }
  
  .job-title {
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
  }
  
  .testi-title {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .testimonials-photo {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 60px;
    margin: -115px auto 25px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-radius: 100%;
    background-image: linear-gradient(8deg, #ff0400, #080074);
    opacity: 1;
    color: #fff;
    font-size: 80px;
    line-height: 80px;
  }
  
  .testimonials-wrapper {
    position: relative;
    display: block;
    width: 90%;
    margin: 50px auto 61px;
    padding: 80px 30px 26px;
    background-color: #fff;
    text-align: center;
  }
  
  .testimonials-wrapper.no-margin {
    margin-bottom: 0px;
  }
  
  .testimonials-wrapper.move-down {
    margin-top: 151px;
  }
  
  .testimonial-paragraph {
    margin-top: 15px;
    margin-bottom: 0px;
    color: #919197;
  }
  
  .text-block-2 {
    padding-top: 12px;
  }
  
  .footer {
    position: relative;
    z-index: 1;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
    border-top: 1px solid #2f3038;
    background-color: #0a1229;
  }
  
  .tab-logo {
    width: 20%;
    min-height: 100px;
    background-color: transparent;
    background-image: url("../image/logo-5w.png");
    background-position: 50% 50%;
    background-size: 100px;
    background-repeat: no-repeat;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    text-align: center;
  }
  
  .tab-logo:hover {
    opacity: 1;
  }
  
  .tab-logo.w--current {
    background-color: transparent;
    opacity: 1;
  }
  
  .tab-logo.logo-2 {
    background-image: url("../image/logo-2w.png");
    background-size: 100px;
  }
  
  .tab-logo.logo-2.w--current {
    background-color: transparent;
  }
  
  .tab-logo.logo-3 {
    background-image: url("../image/logo-3w.png");
    background-size: 100px;
  }
  
  .tab-logo.logo-4 {
    background-image: url("../image/logo-4w.png");
    background-size: 100px;
  }
  
  .tab-logo.logo-5 {
    background-image: url("../image/logo-1w.png");
    background-size: 100px;
  }
  
  .logo-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .collection-item {
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .project-wrapper {
    padding-top: 20px;
    padding-right: 20px;
    float: left;
  }
  
  .project-content {
    position: relative;
    overflow: hidden;
  }
  
  .project-overlay {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(211, 144, 0, 0.3);
    transition: .2s;
    opacity: 0;
  }
  
  .project-circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    height: 90px;
    padding-right: 11px;
    padding-left: 11px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100%;
    background-image: linear-gradient(59deg, #0049b6, #82e412);
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .collection-item:hover .project-overlay, .collection-item:hover .project-circle {
    opacity: 1;
  }
  
  .page-content {
    position: relative;
  }
  
  .footer-column {
    padding-right: 20%;
  }
  
  .with-line {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .line {
    position: absolute;
    left: 0%;
    top: 8px;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 1px;
    background-color: #ff6361;
  }
  
  .copyright-margin {
    margin-top: 80px;
  }
  
  .left-copyright-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .left-copyright-flex.right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  
  .copyright {
    margin-bottom: 0px;
    color: #b7b7c7;
    font-size: 14px;
  }
  
  .link-2 {
    display: inline-block;
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
    color: #6f81fd;
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
  }
  
  .link-2.white {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    font-family: 'PT Sans', sans-serif;
    color: #b7b7c7;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
  }
  
  .link-2.white:hover {
    color: #fff;
  }
  
  .made-with-webflow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    text-decoration: none;
  }
  
  .made-with-webflow.left-margin {
    margin-top: 0px;
    margin-left: 10px;
    color: #b7b7c7;
  }
  
  .made-with-webflow.left-margin:hover {
    color: #fff;
  }
  
  .webflow-logo-tiny {
    width: 18px;
    margin-right: 4px;
    opacity: 0.9;
  }
  
  .paragraph-tiny {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  
  .blog-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #fff;
    text-decoration: none;
  }
  
  .blog-wrapper.with-margin {
    margin-bottom: 20px;
  }
  
  .blog-image {
    position: relative;
    background-color: #5c5c5c;
  }
  
  .meta-number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70px;
    height: 70px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: linear-gradient(45deg, #ff0400, #05002e);
    color: #fff;
    font-size: 26px;
    font-weight: 400;
  }
  
  .meta-month {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70px;
    height: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    color: #9d9da5;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .meta-tag {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
  }
  
  .blog-content {
    width: 100%;
    padding: 25px 56px 25px 30px;
    background-color: #e47312;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
  }
  
  .field-label {
    margin-bottom: 3px;
    color: #919197;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .text-field {
    height: 44px;
    margin-bottom: 20px;
    padding-left: 0px;
    border-style: none none solid;
    border-width: 2px 2px 1px;
    border-color: #c1c3cc #c1c3cc #e4e7f1;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .text-field:hover {
    border-bottom-color: #e47312;
  }
  
  .text-field:focus {
    border-bottom-color: #e47312;
  }
  
  .text-field::-webkit-input-placeholder {
    color: #919197;
  }
  
  .text-field:-ms-input-placeholder {
    color: #919197;
  }
  
  .text-field::-ms-input-placeholder {
    color: #919197;
  }
  
  .text-field::placeholder {
    color: #919197;
  }
  
  .text-field._2:hover {
    border-bottom-color: #fc493e;
  }
  
  .text-field.area {
    padding-bottom: 59px;
  }
  
  .button {
    display: inline-block;
    min-width: 160px;
    padding: 15px 25px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #fc493e;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #fd6960;
  }
  
  .button.full {
    display: block;
    width: 100%;
    border-radius: 0px;
    background-color: #e47312;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .button.full:hover {
    background-color: #e98a38;
  }
  
  .button.full.not-full {
    width: auto;
    font-size: 12px;
  }
  
  .error-message {
    color: #fc493e;
    font-weight: 500;
    text-align: center;
  }
  
  .algin-center {
    position: relative;
    text-align: center;
  }
  
  .success-message {
    background-color: #5cbe7c;
    color: #fff;
    font-weight: 500;
  }
  
  .menu-button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    margin-top: 0px;
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  .menu-button.w--open {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .hamburger-line {
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    width: 50%;
    height: 2px;
    background-color: #000;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .hamburger-line {
    transition: .2s;
  }
  
  .hamburger-line:first-of-type {
    transform: translate(-50%, -4px);
  }
  
  .hamburger-line:last-of-type {
    transform: translate(-50%, 8px);
  }
  
  .w--open .hamburger-line:first-of-type {
    transform: translate(-50%, 0px) rotate(45deg)
  }
  
  .w--open .hamburger-line:last-of-type {
    transform: translate(-50%, 0px) rotate(-45deg);
  }
  
  .sub-banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 400px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #c1c3cc;
    /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(55%, hsla(0, 0%, 100%, 0.71)), to(#fff)), url("../img/sub.jpg");
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.71) 55%, #fff), url("../image/sub"); */
    background-position: 0px 0px, 50% 100%;
    background-size: auto, cover;
  }
  
  .sub-banner-info {
    text-align: center;
  }
  
  .utility-page-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
  }
  
  .utility-page-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  
  .utility-page-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  
  .service-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .sidebar {
    min-width: 350px;
    margin-right: 50px;
  }
  
  .sidebar.left {
    margin-right: 0px;
    margin-left: 50px;
  }
  
  .right-part {
    width: 100%;
  }
  
  .sidebar-wrapper {
    margin-bottom: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-width: 1px;
    border-color: #e1e1e1;
  }
  
  .sidebar-wrapper.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }
  
  .service-in-siderbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 11px;
    padding-bottom: 11px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
  }
  
  .image {
    width: 34px;
  }
  
  .image.small {
    width: 28px;
  }
  
  .project-image {
    margin-bottom: 50px;
  }
  
  .project-info {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    padding: 30px 30px 20px;
    background-color: #e47312;
    background-image: linear-gradient(41deg, #ff6361, #e47312);
  }
  
  .flex-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 0px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.28);
  }
  
  .flex-details.no-bottom {
    border-bottom-style: none;
  }
  
  .client-margin {
    margin-right: 5px;
    color: #fff;
  }
  
  .graident {
    background-image: linear-gradient(45deg, #ff6361, #e47312);
  }
  
  .pro-icon {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }
  
  .column {
    display: none;
  }
  
  .top-margin-2 {
    margin-top: 30px;
  }
  
  .top-margin-2.more {
    margin-top: 40px;
  }
  
  .list-second-item {
    margin-bottom: 13px;
  }
  
  .circle-list {
    width: 12px;
    height: 12px;
    margin-right: 7px;
    background-position: 0px 0px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .list-item-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 13px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .paragraph-no-margin {
    margin-bottom: 0px;
    font-style: normal;
  }
  
  .list {
    padding-left: 16px;
    color: #e47312;
    list-style-type: square;
  }
  
  .rich-text-wrapper {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .paragraph-percent {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .link-3 {
    color: #313131;
    text-decoration: none;
    cursor: pointer;
  }
  
  .link-3:hover {
    text-decoration: underline;
  }
  
  .top-margin-3 {
    margin-top: 20px;
  }
  
  .top-margin-3.little-more {
    margin-top: 30px;
  }
  
  .top-margin-3.in-blog-page {
    margin-top: 50px;
  }
  
  .link {
    display: inline-block;
    color: #8f872e;
    text-decoration: underline;
  }
  
  .link.color {
    color: #616167;
  }
  
  .licens-image {
    width: 100%;
  }
  
  .licens-image.with-icon {
    width: 15%;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  
  .changelog {
    display: block;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    -ms-grid-columns: 0.75fr 1fr 1fr 1fr;
    grid-template-columns: 0.75fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
